.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2473a4;
    padding: 20px 40px;
    height: 75px;
    .logo {
        width: 75px;
        height: 75px;
        object-fit: contain;
    }
    .social-wrapper {
        display: flex;
        .icon-wrapper {
            background-color: white;
            padding: 10px;
            border-radius: 40px;
            margin: 0px 10px;
            .icon-medsos {
                width: 35px;
                height: 30px;
                object-fit: contain;
            }
        }
    }
}

.copyright {
    background-color: #1d5c83;
    padding: 10px 10px;
    p {
        font-size: 14px;
        color: white;
        text-align: center;
        margin: 0px;
    }
}